<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    </button><a class="navbar-brand" href="/">Get In!</a>
    <ul class="nav navbar-nav navbar-right">
          
            <input class="log_in" id='email'type='text' name='user[email]' placeholder="email"/>
            <input class="log_in" id='password'type='password' name='user[password]' placeholder="type a good password"/>
            <button type="button" class="btn btn-primary">Sign In</button>
         
    </ul>
  </div>
</nav>





   
<div class="container">






    <h1>Power statement //Quote about "feeling the student's story"</h1>

    <br>

    <br>












    <div class="row">


    <div class="col-sm-12 col-md-6 col-lg-8">

         <img id="front_page" src="http://placehold.it/750x450">
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="panel-body" id="signup_form">
            <form id='add_activity_content'>
              <input class="signup" id='email'type='text' name='user[email]' placeholder="email"/>
              <input class="signup" id='password'type='password' name='user[password]' placeholder="type a good password"/>
              <input class="signup" id='password_conf'type='password' name='user[passwordconf]' placeholder="repeat that password"/>

              <button type="button" class="btn btn-primary">Start Logging Your Accomplishments</button>
            </form>
        </div>
    </div>

    </div>


    <br>


<!--     <center><h3>Some Great Students</h3></center>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img id="front_page" src="http://placehold.it/250x250">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img id="front_page" src="http://placehold.it/250x250">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img id="front_page" src="http://placehold.it/250x250">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img id="front_page" src="http://placehold.it/250x250">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img id="front_page" src="http://placehold.it/250x250">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img id="front_page" src="http://placehold.it/250x250">
        </div>
    </div>



<br>
<br> -->


</div>


