<div data-id="{{id}}">
  <a href="/activities/{{id}}">
    <div class="holds_panels">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>{{title}}</h2>
          </div>
        </div>
    </div>
  </a>
</div>


