<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        
        <img src="http://placehold.it/350x250">
      <div class="caption">
        <p>{{body}}</p>
      </div>
    </div>
  </div>
</div>
