<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail content_tile">
        
        <img id="content_photo" src={{body}} style="width: 350px; height: 280px;">
      <div class="caption">
        <p>{{title}}</p>
      </div>
    </div>
  </div>
</div>
