<div class="item">
    <div class="thumbnail content_tile">
        
        <img id="content_photo" src={{body}} style="width: 350px; height: 250px;">

        <p>{{title}}</p>
      </div>
    </div>
  </div>
