
<div class="item">
    <div class="thumbnail content_tile">
        
        <img src='http://lorempixel.com/1000/700'>
      <div class="caption">
        <p>{{body}}</p>
      </div>
    </div>
</div>
