* {

    border-radius(0) !important;

}

.btn {
    border-radius: 0;
}


.navbar {
    border-radius: 0;
}


.jumbotron {
    border-radius: 0;
}

input {
    width: 100%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

#content_form {
    background-color: grey;
}

body {

    background-color: rgba(92,213,235,.2);
}

input {
        font-size: 200%;
        color: white;
        height: 60px;
        width: 100%;
        display: inline-block;
        text-align: left;
        background-color: rgba(245,245,245,.1);
        border: 0;  
}

#signup_form {
    background-color: rgba(245,245,245,.1);
}

#front_page {
    max-width: 90%;
}

.log_in_field {
    width: 25%;
    font-size: 12px;
    max-height: 40px;
}
.log_in {
    width: 25%;
}





