* {
    border-radius(0) !important;
}

.btn {
    border-radius: 0;
}


.navbar {
    border-radius: 0;
}


.jumbotron {
    border-radius: 0;
}

input {
    width: 100%;
}

form {
    text-align: center;
}



#content_form {
    background-color: grey;
}

body {
/*
    background-color: rgba(92,213,235,.2);*/
}

input {
        font-size: 200%;
        color: black;
        height: 60px;
        width: 100%;
        display: inline-block;
        text-align: left;
        background-color: rgba(245,245,245,.1);
        border: 0;  
}

#signup_form {
    background-color: rgba(245,245,245,.1);
}

#front_page {
    max-width: 90%;
}

.log_in_field {
    width: 25%;
    font-size: 12px;
    max-height: 40px;
}
.log_in {
    width: 25%;
}



.profile_text {
    display: inline-block;
    font-size: 100%;
    word-wrap: break-word;
    

}

#profile_pic {
    padding-bottom: 300px;
    margin-right: 21px;
    max-width: 30%;


}

#profile {
    max-height: 300px;
    /*margin-bottom: 30px;*/
}

.profile_content {
    padding-bottom: 300px;

}

h1 {
    font-weight: lighter;
}

.item { width: 25%; }
.item.w2 { width: 50%; }





