* {
    border-radius(0) !important;
}

.btn {
    border-radius: 0;
}


.navbar {
    border-radius: 0;
}


.jumbotron {
    border-radius: 0;
}

input {
    width: 100%;
}

form {
    text-align: center;
}



#content_form {
    background-color: grey;
}

body {
/*
    background-color: rgba(92,213,235,.2);*/
}

input {
        font-size: 200%;
        color: black;
        height: 60px;
        width: 100%;
        display: inline-block;
        text-align: left;
        background-color: rgba(245,245,245,.1);
        border: 0;  
}

#signup_form {
    background-color: rgba(245,245,245,.1);
}

#front_page {
    max-width: 90%;
}

.log_in_field {
    width: 25%;
    font-size: 12px;
    max-height: 40px;
}
.log_in {
    width: 25%;
}



.profile_text {
    display: inline-block;
    font-size: 100%;
    word-wrap: break-word;
    

}

.profile_pic {
    margin-right: 21px;
    max-width: 30%;
    border-radius: 150px;
}

#profile {
    max-height: 300px;
    /*margin-bottom: 30px;*/
}

.profile_content {
    padding-bottom: 300px;

}

h1 {
    font-weight: lighter;
}

.item { width: 25%; }
.item.w2 { width: 50%; }


.main-content {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    margin: 0 auto;
}

.main-content_profile {
/*    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    margin: 0 auto;*/
    text-align: center;
}


.users_pic {
    flex: 5;
}

.users_name {
    flex: 5;
}


.list_of_activities {
   width: 50%;
/*    flex: 9;
    order: 1;
    -webkit-order: 1;*/

}

.graphicals {
    width: 50%;
/*    flex: 1;
    order: 2;
    -webkit-order: 1;*/
}

.profile  {
    text-align: left;
}

.user {
    margin: 0 auto;
    width: 45%;
/*    position: absolute;*/
    margin-bottom: 90px;

}


h1 {
    font-size: 90px;
}


body {
    background-color: #ebebeb;
}



ul {
    float: right;
}

li {
    display: inline;
    float: left;
}

nav {
    width: 960px;
    margin: 0 auto;
}


section.stretch {
    float: left;
    height: 1500px;
    width: 100%;
}

section.stretch p {
    font-size: 30px;
    color: #969696;
    text-align: center;
    position: relative;
    margin-top: 250px;
}

section.stretch p.bottom {
    top: 100%;
}

header{ background: #C7C7C7; border-bottom: 1px solid #aaaaaa; float: left; width: 100%; position: fixed; z-index: 10; }
header a{ color: #969696; text-decoration: none; font-family: 'Amaranth', sans-serif; text-transform: uppercase; font-size: 1em; }
header a.active, header a:hover{ color: #3d3d3d; }
header li{ margin-right: 30px; }

/* Sizes for the bigger menu */
header.large{ height: 150px; }
header.large img{ width: 489px; height: 113px; }
header.large li{ margin-top: 45px; }
header.large h1 {
    text-align: center;
    font-weight: normal;
}

header.small{ height: 70px; }
header.small img{ width: 287px; height: 69px; margin-top: -10px; }
header.small li{ margin-top: 17px; }
header.small h1 {
    font-weight: normal;
    font-size: 30px;
    text-align: center;

}

header,nav, a, img, li, h1{
  transition: all 1s;

}


.main-content.smallhead {
    margin-top: 180px;
}

.panel-default {
    border-radius: 0;
    border: 0 solid black;
    color: black;

}

.panel-default h2 {
    font-weight: lighter;
}

.graphicals.stuck {
    position: fixed;
    margin-top: -100px;
}



.panel-default.hover {
    background-color: blue;
}
