<h2>Add an Activity</h2>
<form id="add_activity">
  Title<br>
  <input id="activity_title" type="text" name="activity[title]"><br>
  Body<br>
  <textarea id="activity_body" name="activity[body]" rows="3" cols="60"></textarea><br>
</form>
<h2>Activity List</h2>
<div id="activities">
</div>