<ul class="nav nav-pills" id="activities_index_select">
  <li class="active" id="Add_Activity"><a>Add Activity</a></li>
  <% Activity.all.each do |act| %>
     <li id="<%= act.id %>"><a><%= act.title %></a></li>
 <% end %>
</ul>













<h2>Activity List</h2>
<div id="activities">
</div>
<%= javascript_include_tag "activities"%>