<div class="container">
  <div class="container">
    <%= render partial: "/profiles/show", profile: current_user.profile %>
    
    <br>
    <br>

    <div id="activities">
    </div>

  </div>
</div>
    <%= javascript_include_tag "activities"%>
</div>


