<%= render "layouts/userprofile" %>


<section class="act_index_section">
  <div class="container">
    <div class="row main-content">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 list_of_activities">
          <div id="activities">
          </div>
            <div id="add_act_button" class="panel panel-default footer">
              <a href="#add_activity_modal" data-toggle="modal">
                <div class="panel-body">
                  <center><font size="34"><h2><i class="glyphicon glyphicon-plus"></i></h2></font></center>
                </div>
              </a>
            </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 graphicals">
        <canvas id="category_chart_canvas" class='graphs' width="600" height="300"></canvas>
        <canvas id="category_by_time_canvas" class='graphs line-graph' width="600" height="300"></canvas>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="add_activity_modal" role="dialog"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="add_activity" class="to_hide">
          <input id="activity_title" type="text" name="activity[title]" placeholder="What is your activity?" autofocus=true><br>
            <div>
              <% @categories.each do |category| %>
                <input id="<%= category.id %>" class="categoryCheckboxes" type="checkbox">
                <label for="<%= category.id %>"><%= category.name %></label>
              <% end %>
            </div>  
            <div id="submit_activity" class="btn btn-primary" style="width: 70px; height: 30px;">Submit</div>   
              <div class="well" style="max-height: 300px;overflow: auto;">

              </div>
            </div>   

        </form>
      </div>
    </div>
  </div>
</div> 

<script>
$(function(){
  var $category_line_graph;
  var category_line_graph;
  var category_graph;
  var $category_graph;
  var barData;
  var lineData;
  // calling /categories.json, it is returned as data, 
  // then passing that get request into chartdata
  var line_options;
  var bar_options;
  $.ajax({
    url: "/categories.json",
    method: "GET"
  }).done(function(data){
    var chartdata = data;
    var datalabels = [];
    var activity_counts = [];
    var content_counts =[];
    var time = [];


    // adding jquery to loop through data
    $(chartdata).each(function(index, item) {
      //  passing each item and collecting the item.name ('sports')
      datalabels.push(item['name']);
      // activity_counts.push(item['activity_count']);
      content_counts.push(item['content_count']);
    });
    var max = 4;
    $(content_counts).each(function(index, item){
      if (max <= item) {
        max = item;
      }
    });
    max += 1;
    step_width = Math.ceil(max / 25);
    bar_options = {
      scaleOverride : true,
      //** Required if scaleOverride is true **
      //Number - The number of steps in a hard coded scale
      scaleSteps : Math.ceil(max/step_width),
      //Number - The value jump in the hard coded scale
      scaleStepWidth : step_width,
      //Number - The scale starting value
      scaleStartValue : 0
    }

    barData = {
      labels : datalabels,
      datasets : [
        {
          fillColor : "rgba(73,188,170,0.4)",
          strokeColor : "rgba(72,174,209,0.4)",
          data : content_counts
        }
      ]
    };

    category_graph = document.getElementById("category_chart_canvas").getContext("2d");

    new Chart(category_graph).Bar(barData); //is currently only printing last chart
    $category_graph = $('#category_chart_canvas');
    respondCanvas();
  });

$.ajax({
    url: "/categories/content_by_month.json",
    method: "GET"
  }).done(function(data){
    var chartdata = data;
    var datalabels = [];
    // var activity_counts = [];
    var content_counts =[];

    // adding jquery to loop through data
    $(chartdata).each(function(index, item) {
      //  passing each item and collecting the item.name ('sports')
      datalabels.push(item['month']);
      // activity_counts.push(item['activity_count']);
      content_counts.push(item['content_total']);
    });
    var max = 4;
    $(content_counts).each(function(index, item){
      if (max <= item) {
        max = item;
      }
    });
    max += 1;
    lineData = {
      labels : datalabels,

      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : content_counts
        }
      ]
    }
    step_width = Math.ceil(max / 25);

    line_options = {
      scaleOverride : true,
      //** Required if scaleOverride is true **
      //Number - The number of steps in a hard coded scale
      scaleSteps : Math.ceil(max/step_width),
      //Number - The value jump in the hard coded scale
      scaleStepWidth : step_width,
      //Number - The scale starting value
      scaleStartValue : 0
    }
  category_line_graph = document.getElementById("category_by_time_canvas").getContext("2d");
  $category_line_graph = $('#category_by_time_canvas');
  new Chart(category_line_graph).Line(lineData, line_options);
  respondCanvas();
 });
  $(window).resize( respondCanvas );

  function respondCanvas(){ 
    var width = $( window ).width()* .48;
    if ($( window ).width() <= 990){
      var width = $( '.panel-body' ).width() *1.05;
    }
    var height = width/2;
    $category_graph.attr('width', width );
    $category_graph.attr('height', height);
    width -= 50;
    height = width/2;
    $category_line_graph.attr('width', width);
    $category_line_graph.attr('height', height ); 
    new Chart(category_line_graph).Line(lineData, line_options);
    new Chart(category_graph).Bar(barData, bar_options);
  }
  });
</script>
